* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
width: 800px;
margin: 0 auto;
}

body{
  background-color: rgb(252, 246, 237);
}

.row{
  height: 80px;
  border: 1px solid black;
  display: flex;
  gap: 50px;
  align-items: center;
}

.cell{
  margin-left: 10px;
  min-width: 200px;
}

a{
  text-decoration: none;
  color: black;
}

.navbar{
  display: flex;
  font-size: 30px;
  width: 100%;
  height: 80px;
  background-color: rgb(204, 204, 3);
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
}

/*Promemoria: migliora stile*/
.container-modal{
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.151);
}
